Lists
=====

This page contains brief code snippets for `list` related operations. It is
intended as a resource for quickly looking up the syntax for a particular task,
most likely to jog a students memory.

While you may well learn something here, it is not written as a lesson.

:::{tip}

You can modify and execute any of the code on this page.

1. ![launch][] just click this icon at the top of the page
1. ![live][] followed by this one

:::

[launch]: ../assets/rocket-icon.png
[live]: ../assets/live-icon.png

```{contents} Table of Contents
:backlinks: top
:local:
```

Creating
--------

### Bracket syntax

Create an empty list using `[` `]`:

In [1]:
a_list  = []
print(a_list)

[]

Create a list of `3` `None` elements:

In [2]:
b_list  = [None] * 3
print(b_list)

[None, None, None]

Create a list with initial elements:

In [3]:
numbers = [0, 1, 2, 3, 4, 5]
print(numbers)

[0, 1, 2, 3, 4, 5]

### list constructor

Create an empty list using the `list()` constructor:

In [4]:
c_list  = list()
print(c_list)

[]

Create a list from another iterable:

In [5]:
letters = list("abcdefghijklmnopqrstuvwxyz")
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

Selecting Elements
------------------

Elements are accessed via {term}`subscription` with the syntax: {samp}`{COLLECTION}[{SELECTOR}]`.

The `SELECTOR` can be:

* {term}`index number`
* {term}`negative index number`
* {term}`slice`

### Via index number

First element:

In [6]:
print(letters[0])

a

Second element:

In [7]:
print(letters[1])

b

Last element:

In [8]:
print(letters[-1])

z

### Via slice

Or the `SELECTOR` can be a {term}`slice`.

The synax is either of the following.

* {samp}`{COLLECTION}[{START}:{STOP}]`
* {samp}`{COLLECTION}[{START}:{STOP}:{STEP}]`

From `numbers[1]` to before `numbers[3]`:

In [9]:
print(numbers[1:3])

[1, 2]

All but the first element:

In [10]:
print(numbers[1:])

[1, 2, 3, 4, 5]

All but the last element:

In [11]:
print(numbers[:-1])

[0, 1, 2, 3, 4]

Every other element from `numbers[3]` to before `numbers[15]`:

In [12]:
print(numbers[3:15:2])

[3, 5]

Elements in reversed order with a negative `STEP` number and a `START` that is
greater than `STOP`.

In [13]:
print(numbers[2::-1])
print(numbers[-1:-3:-1])

[2, 1, 0]
[5, 4]

Entire list:

In [14]:
print(numbers[:])

[0, 1, 2, 3, 4, 5]

### Exceptions

An `IndexError` exception will be raised for any selectors using using
non-existant index numbers.

In [15]:
value = numbers[10]
print(value)

IndexError: list index out of range

In [16]:
value = numbers[-10]
print(value)

IndexError: list index out of range

Suppress errors with a try except block:

In [17]:
try:
  value = numbers[10]
except IndexError:
  value = None

print(value)

None

Modification
------------

### Change

#### By index

In [18]:
numbers[1] = 100
print(numbers)

[0, 100, 2, 3, 4, 5]

#### By slice

In [19]:
numbers[3:5] = [300, 400]
print(numbers)

[0, 100, 2, 300, 400, 5]

### Add

In [20]:
animals = ["bear", "chimpanzee", "elephant"]
print(animals)

['bear', 'chimpanzee', 'elephant']

#### To end

In [21]:
animals.append("hedgehog")
print(animals)

['bear', 'chimpanzee', 'elephant', 'hedgehog']

#### At a specific position

In [22]:
animals.insert(2, "dolphin")
print(animals)

['bear', 'chimpanzee', 'dolphin', 'elephant', 'hedgehog']

In [23]:
animals.insert(0, "antelope")
print(animals)

['antelope', 'bear', 'chimpanzee', 'dolphin', 'elephant', 'hedgehog']

#### From iterable

##### Using `.extend()`

In [24]:
from pprint import pprint

animals.extend(["lynx", "ocelot", "puma"])
pprint(animals)

['antelope',
 'bear',
 'chimpanzee',
 'dolphin',
 'elephant',
 'hedgehog',
 'lynx',
 'ocelot',
 'puma']

##### With concatonation

In [25]:
animals = animals + ["skink", "turtle", "viper"]
pprint(animals)

['antelope',
 'bear',
 'chimpanzee',
 'dolphin',
 'elephant',
 'hedgehog',
 'lynx',
 'ocelot',
 'puma',
 'skink',
 'turtle',
 'viper']

Or using the `+=` operator:

In [26]:
animals += ["wolf", "zebra"]
pprint(animals)

['antelope',
 'bear',
 'chimpanzee',
 'dolphin',
 'elephant',
 'hedgehog',
 'lynx',
 'ocelot',
 'puma',
 'skink',
 'turtle',
 'viper',
 'wolf',
 'zebra']

##### Repeteadly with multiplication

In [27]:
steps = ["rinse", "repeat"]
print(steps)

steps = (steps * 3)
print(steps)

['rinse', 'repeat']
['rinse', 'repeat', 'rinse', 'repeat', 'rinse', 'repeat']

Or using the `*=` operator:

In [28]:
steps = ["rinse", "repeat"]
print(steps)

steps *= 3
print(steps)

['rinse', 'repeat']
['rinse', 'repeat', 'rinse', 'repeat', 'rinse', 'repeat']

### Remove

In [29]:
chars = list("Hello world")

del chars[4]
print(chars)

['H', 'e', 'l', 'l', ' ', 'w', 'o', 'r', 'l', 'd']

#### By index

In [30]:
chars = list("Hello world")

del chars[4]
print(chars)

['H', 'e', 'l', 'l', ' ', 'w', 'o', 'r', 'l', 'd']

#### By value

Remove first occurance of value using the `.remove() method`:

In [31]:
chars = list("Hello world")

chars.remove("l")
print(chars)

['H', 'e', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### By slice

Using the `del` keyword:

In [32]:
chars = list("Hello world")

del chars[2:9]
print(chars)

['H', 'e', 'l', 'd']

By assigning to an empty list:

In [33]:
chars = list("Hello world")

chars[0:3] = []
print(chars)

['l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### All elements

In [34]:
chars = list("Hello world")

chars.clear()
print(chars)

[]

#### Remove and return

##### The last element

In [35]:
chars = list("Hello world")

removed = chars.pop()

print("removed:", repr(removed), "\n")
print(chars)

removed: 'd'

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l']

##### A specific element by position

In [36]:
chars = list("Hello world")

removed = chars.pop(2)

print("removed:", repr(removed), "\n")
print(chars)

removed: 'l'

['H', 'e', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

Membership
----------

In [37]:
chars = list("Mississippi")
words = ['Welcome', 'to', 'Python', 'Class']

### Contains

Check if list contains value using the `in` operator:

In [38]:
"Class" in words

True

Check if list does not contains value using the `not in` operator:

In [39]:
"Class" not in words

False

### Count

Number of times value occurs in list:

In [40]:
chars.count("i")

4

### Index

To look up the index number of a particular value, use the `.index()` method.

Get the first index number of value:

In [41]:
chars.index("s")

2

Same, but look in `chars[3:]`:

In [42]:
chars.index("s", 3)

3

Same, but look in `chars[5:9]`:

In [43]:
chars.index("i", 5, 9)

7

Iteration
---------

### for loop

Iterate over each element:

In [44]:
colors = ["red", "blue", "green"]
for item in colors:
  print(item)

red
blue
green

#### enumerate

Iterate over each index number and element:

In [45]:
meals = ["breakfast", "lunch", "dinner"]
for i, item in enumerate(meals):
  print(i, item)

0 breakfast
1 lunch
2 dinner

Iterate over each index number and element value, starting `i` at `1`:

In [46]:
drinks = ["water", "tea", "coffee"]
for i, item in enumerate(drinks, 1):
  print(i, item)

1 water
2 tea
3 coffee

Aggregation
-----------

Functions that provide information about the container as a whole.

### Length

In [47]:
len([0, 1, 2, 3])

4

### Maximum value

In [48]:
max([0, 1, 2, 3])

3

### Minimum value

In [49]:
min([0, 1, 2, 3])

0

### Sum of values

In [50]:
sum([0, 1, 2, 3])

6

### any

Return `True` if any elements are truthy:

In [51]:
any([0, False, ""])

False

In [52]:
any([0, 1, 2, 3])

True

### all

Return `True` if all elements are truthy:

In [53]:
all([0, 1, 2, 3])

False

In [54]:
all([True, 1, "hello"])

True

Copying
-------

In [55]:
DEFAULTS = [
  {
    'name': "Joe Smith",
    'email': 'joe.smith@gmail.com',
  },
  {
    'name': "Jane Doe",
    'email': "jane.doe@gmail.com"
  }
]

### Alias

A {term}`reference` or {term}`alias` creates a new variable that points to the
same object.

In [56]:
authors = DEFAULTS

authors is DEFAULTS

True

### Shallow copy

A {term}`shallow copy` creates a new container object then adds references to elements.

Using `.copy()`:

In [57]:
authors = DEFAULTS.copy()

print(authors is DEFAULTS)
print(authors[0] is DEFAULTS[0])

False
True

Using `copy.copy()`:

In [58]:
import copy

authors = copy.copy(DEFAULTS)

print(authors is DEFAULTS)
print(authors[0] is DEFAULTS[0])

False
True

Using a slice:

In [59]:
authors = DEFAULTS[:]

print(authors is DEFAULTS)
print(authors[0] is DEFAULTS[0])

False
True

### Deep copy

A {term}`deep copy` creates a new container object then recursively adds the copies of nested elements.

In [60]:
import copy
authors = copy.deepcopy(DEFAULTS)

print(authors is DEFAULTS)
print(authors[0] is DEFAULTS[0])

False
False

Sorting
-------

In [61]:
"""setup for sorting section"""

from pprint import pformat

def pprint(obj):
  """pretty print obj if defined, otherwise print an equal number of lines"""
  if obj:
    print(pformat(obj, width=40))
  else:
    print("-" + ("\n"*(len(FRUIT)-1)) + repr(obj))

In [62]:
"""setup for sorting section"""

# define global FRUIT list
FRUIT = ["cherry", "apple", "date", "bananna", "elderberry"]

### Returned sorting

The following functions return a sorted version of the collection and leave
original collection unmodified.

In [63]:
# copy fruit list
fruit = FRUIT[:]
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']

#### Ascending order

In [64]:
result = sorted(fruit)
pprint(result)

['apple',
 'bananna',
 'cherry',
 'date',
 'elderberry']

#### Descending order

In [65]:
result = sorted(fruit, reverse=True)
pprint(result)

['elderberry',
 'date',
 'cherry',
 'bananna',
 'apple']

#### Reverse order

In [66]:
result = list(reversed(fruit))
pprint(result)

['elderberry',
 'bananna',
 'date',
 'apple',
 'cherry']

#### Order by callable key

Using function:

In [67]:
def order_by_length(text):
    return len(text)

result = sorted(fruit, key=order_by_length)
pprint(result)

['date',
 'apple',
 'cherry',
 'bananna',
 'elderberry']

Using lambda:

In [68]:
result = sorted(fruit, key=lambda v: len(v))
pprint(result)

['date',
 'apple',
 'cherry',
 'bananna',
 'elderberry']

### In-place sorting

The following methods and functions change the order of the original collection
and return `None`.

#### Ascending order

In [69]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

fruit.sort()
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------
['apple',
 'bananna',
 'cherry',
 'date',
 'elderberry']

#### Descending order

In [70]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

fruit.sort(reverse=True)
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------
['elderberry',
 'date',
 'cherry',
 'bananna',
 'apple']

#### Reverse order

In [71]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

fruit.reverse()
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------

['elderberry',
 'bananna',
 'date',
 'apple',
 'cherry']

#### Order by callable key function

Using function:

In [72]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

def order_by_length(text):
    return len(text)

fruit.sort(key=order_by_length)
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------
['date',
 'apple',
 'cherry',
 'bananna',
 'elderberry']

Using lambda:

In [73]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

fruit.sort(key=lambda v:len(v))
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------
['date',
 'apple',
 'cherry',
 'bananna',
 'elderberry']

#### Random order

In [74]:
# reset fruit list
fruit = FRUIT[:]
pprint(fruit)
print("--------------")

from random import shuffle
shuffle(fruit)
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']
--------------
['date',
 'elderberry',
 'cherry',
 'apple',
 'bananna']

Transformation
--------------

Generate a modified collection.

### Mapping

Produce a new collection containing the results from applying a function to
each element in a collection.

In [75]:
"""Setup for the Mapping section"""

# the collection to base mappings on
birth_years = [1954, 1956, 1984, 1986]

# used in relative_age()
REL_YEAR = 1994

# the function to apply
def relative_age(year):
  return REL_YEAR - year

#### Using a for loop

In [76]:
# initialize a list the same size as birth_years filled with None values
ages = [None] * len(birth_years)

# iterate over birth years and map the cooresponding element in ages to
# the results from applying the function to that element
for i, year in enumerate(birth_years):
  ages[i] = relative_age(year)

# print the ages list
print(ages)

[40, 38, 10, 8]

#### Using list comprehension

In [77]:
ages = [relative_age(year) for year in birth_years]

print(ages)

[40, 38, 10, 8]

#### Using map

In [78]:
ages = list(map(relative_age, birth_years))

print(ages)

[40, 38, 10, 8]

### Filtering

Produce a new collection containing only elements which, when a applying a
function, return a truthy value.

In [79]:
"""Setup for the Filtering section"""

# the function to apply
def is_adult(age):
  return age >= 18

# print the previously created ages collection to base the filterings on
print(ages)

[40, 38, 10, 8]

#### Using a for loop

In [80]:
# initialze an empty list
adults = []

# iterate over ages and append elements that results in True
# when applying the filtering function
for age in ages:
  if is_adult(age):
    adults.append(age)

# print the adults list
print(adults)

[40, 38]

#### Using list comprehension

In [81]:
adults = [ age for age in ages if is_adult(age) ]

print(adults)

[40, 38]

#### Using filter

In [82]:
adults = list(filter(is_adult, ages))

print(adults)

[40, 38]

Typecasting
-----------

### str to list

#### individual characters

In [83]:
list("abc")

['a', 'b', 'c']

#### split on whitespace

In [84]:
"list info search".split()

['list', 'info', 'search']

#### split on delimiter

In [85]:
"555-555-5555".split("-")

['555', '555', '5555']

#### split on newlines

In [86]:
"a\nb\nc\n".splitlines()

['a', 'b', 'c']

#### split on pattern

In [87]:
import re
re.split(r"[./]", "github.com/git")

['github', 'com', 'git']

### dict to list

In [88]:
fruit_sizes = {'cherry': 6, 'bananna': 7, 'date': 4, 'elderberry': 10, 'apple': 5}

#### keys

In [89]:
list(fruit_sizes)

['cherry', 'bananna', 'date', 'elderberry', 'apple']

In [90]:
list(fruit_sizes.keys())

['cherry', 'bananna', 'date', 'elderberry', 'apple']

#### values

In [91]:
list(fruit_sizes.values())

[6, 7, 4, 10, 5]

### list to string

In [92]:
"".join(["a", "b", "c"])

'abc'

### list to dict

In [93]:
dict([["a", 1], ["b", 2]])

{'a': 1, 'b': 2}

In [94]:
dict(zip(["a", "b"], [1, 2]))

{'a': 1, 'b': 2}

----

% TODO
% - [ ] nested lists
% - [ ] comparisons