Lists
=====

{{ leftcol | replace("col", "col-8")  }}

An ordered collection of arbitrary objects accessed via index numbers.

```{contents} Table of Contents
:backlinks: top
:local:
```

{{ rightcol | replace("col", "col-4 text-right") }}

:::{fieldlist}

:Type:        `list`
:Synatx:      {samp}`[{item},...]`
:Bases:       Sequence, Iterable
:State:       Mutable
:Position:    Ordered
:Composition: Heterogeneous
:Diversity:   Repeatable
:Access:      Subscriptable
:Value:       Not hashable

:::

{{ endcols }}

In [1]:
"""setup pprint method"""

from pprint import pformat

def pprint(obj):
  """pretty print obj if defined, otherwise print an equal number of lines"""
  if obj:
    print(pformat(obj, width=40))
  else:
    print("-" + ("\n"*(len(GLOBAL)-1)) + repr(obj))

Basics
------

### Creating

There are several ways to create a new list. The simplest is to enclose the
elements, seperated by commas, in square brackets (`[` and `]`):

In [2]:
cities = ["London", "Paris", "Berlin"]

In [3]:
# set global to cities list for pprint
GLOBAL = cities

Each element is assigned a successive {term}`index number`, starting at `0`.
Under the hood, the `cities` list looks like this:

```{kroki}
:type: ditaa
+----------------------------------------+
|                                        |
| cities (list)                          |
|                                        |
|   +----------+----------+----------+   |
|   |          |          |          |   |
|   | London   | Paris    | Berlin   |   |
|   |          |          |          |   |
|   +----------+----------+----------+   |
|   |    0 cCFF|    1 cCFF|    2 cCFF|   |
|   +----------+----------+----------+   |
|   |   -3 cCCF|   -2 cCCF|   -1 cCCF|   |
|   +----------+----------+----------+   |
|                                        |
+----------------------------------------+

  /----\               /----\
  |cCFF| index number  |cCCF| negative index
  \----/               \----/

```

### Accessing

Items are accessed via {term}`subscription`, using `[` `]` after the object
to enclose a selector expression. For example, use the index number to select
an individual item.

In [4]:
print(cities[0])

London

You can use a negative index number to access elements starting at the end.

Negative index numbers are shorthand for
{samp}`{length of list} + {negative index value}`.

In [5]:
print(cities[-1])

Berlin

Subscription is also used to change list elements.

In [6]:
cities[1] = "Amsterdam"
print(cities)

['London', 'Amsterdam', 'Berlin']

### Adding

To add an element to the end of a list, use the `.append()` method.

In [7]:
cities.append("Dublin")
print(cities)

['London', 'Amsterdam', 'Berlin', 'Dublin']

Or you can add an item at a specific position with the `.insert()` method.

In [8]:
cities.insert(1, "Italy")
print(cities)

['London', 'Italy', 'Amsterdam', 'Berlin', 'Dublin']

Or you can add all the items from another {term}`iterable` with the `.extend()`
method.

In [9]:
cities.extend(["San Francisco", "Brooklyn", "Denver"])
pprint(cities)

['London',
 'Italy',
 'Amsterdam',
 'Berlin',
 'Dublin',
 'San Francisco',
 'Brooklyn',
 'Denver']

### Removing

Use the `del` keyword to remove an element by index.

In [10]:
del cities[1]
print(cities)

['London', 'Amsterdam', 'Berlin', 'Dublin', 'San Francisco', 'Brooklyn', 'Denver']

Or to remove an element by value, use the `.remove()` method.

In [11]:
cities.remove("London")
print(cities)

['Amsterdam', 'Berlin', 'Dublin', 'San Francisco', 'Brooklyn', 'Denver']

Values
------

The `list` type is {term}`heterogeneous`, which means it can contain arbitrary
objects of any type. So far in this lesson our example list has contained all
`str` objects.  But in fact, we can mix and match.

In [12]:
[None, True, 'two', 3.0, 4]

[None, True, 'two', 3.0, 4]

We can use {term}`multiple assignment` to easily assign assign all of the
values in a list to a series of variables.

In [13]:
book = [5, "Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979]

rating, title, author, year = book

print(f"{title} ({year}) by {author}: {rating} stars")

Hitchhiker's Guide to the Galaxy (1979) by Douglas Adams: 5 stars

Lists can also contain other lists.

In [14]:
meals = [
  ["omelet", "turkey wrap", "tacos"],
  ["oatmeal", "turkey burger", "tamales"],
  ["yogurt", "chicken salad", "enchiladas"],
]

You can access items in the nested lists by using multiple indexing operations.

In [15]:
print(f"Dinner tonight is: {meals[0][2]}.")
print(f"Tomorrow for breakfast we're having: {meals[1][0]}.")

Dinner tonight is: tacos.
Tomorrow for breakfast we're having: oatmeal.

Iteration
---------

Iterate over each element using a `for` loop.

In [16]:
for item in cities:
  print(item)

Amsterdam
Berlin
Dublin
San Francisco
Brooklyn
Denver

To include the index number, use the `enumerate()` function.

In [17]:
for i, item in enumerate(cities):
  print(i, item)

0 Amsterdam
1 Berlin
2 Dublin
3 San Francisco
4 Brooklyn
5 Denver

To iterate over a nested list, you'll need nested for loops. The `VAR` in the
first loop will point to the child list; the nested `VAR` will point to the
child list elements.

In [18]:
table = [
  [1, 2, 3, 4],
  [2, 4, 6, 8],
  [3, 6, 9, 12],
  [4, 8, 12, 16],
]

# iterate over the table list and assign each child list to row
for row in table:

   # iterate over the child list and assign each element to product
   for product in row:

       # print the number, right aligned, followed by two spaces
       print(str(product).rjust(2), end="  ")

   # print a new line at the end of every row
   print()

 1   2   3   4
 2   4   6   8
 3   6   9  12
 4   8  12  16

If you are certain to have the same number of items in every row, you can use
multiple assignment in the for loop `VAR`.

In [19]:
for breakfast, lunch, dinner in meals:
   print(f"Breakfast: {breakfast}")
   print(f"Lunch: {lunch}")
   print(f"Dinner: {dinner}")
   print()

Breakfast: omelet
Lunch: turkey wrap
Dinner: tacos

Breakfast: oatmeal
Lunch: turkey burger
Dinner: tamales

Breakfast: yogurt
Lunch: chicken salad
Dinner: enchiladas

You can even combine this technique with `enumerate()` elements by enclosing
the child element variable names in `(` `)`.

In [20]:
for i, (breakfast, lunch, dinner) in enumerate(meals):
   if i == 0:
       day = "Today"
   elif i == 1:
       day = "Tomorrow"
   else:
       day = f"In {i} days"

   print(f"### {day}\n")
   print(f"Breakfast: {breakfast}")
   print(f"Lunch: {lunch}")
   print(f"Dinner: {dinner}")
   print()

### Today

Breakfast: omelet
Lunch: turkey wrap
Dinner: tacos

### Tomorrow

Breakfast: oatmeal
Lunch: turkey burger
Dinner: tamales

### In 2 days

Breakfast: yogurt
Lunch: chicken salad
Dinner: enchiladas

Slices
------

You often want to extract part of a list. This could be accomplished using a
`for` loop, for example:

In [21]:
partial, start, stop = [], 2, 5

for i, item in enumerate(cities):
  if i >= start and i < stop:
    partial.append(item)

print(partial)

['Dublin', 'San Francisco', 'Brooklyn']

Python provides handy dandy slice functionality, which is also supported by
subscription.

The syntax is: {samp}`{COLLECTION}[{START}:{STOP}]`

Using this feature we can extract the same part of the list like so:

In [22]:
cities[2:5]

['Dublin', 'San Francisco', 'Brooklyn']

A missing `STOP` value will default to the end of the list.

In [23]:
cities[2:]

['Dublin', 'San Francisco', 'Brooklyn', 'Denver']

A missing `START` value will default to the beginning of the list.

In [24]:
cities[:2]

['Amsterdam', 'Berlin']

If both are missing, the slice will be a copy of the whole list.

In [25]:
cities[:]

['Amsterdam', 'Berlin', 'Dublin', 'San Francisco', 'Brooklyn', 'Denver']

Membership
----------

Check if list contains value using the `in` operator:

In [26]:
"London" in cities

False

Check if list does not contains value using the `not in` operator:

In [27]:
"London" not in cities

True

To look up the index number of a particular value, use the `.index()` method.

Get the first index number of value:

In [28]:
cities.index("Dublin")

2

Sorting
-------

There are two ways to sort a list

* {samp}`sorted({list})` -- returns a new sorted list
* {samp}`{list}.sort()` -- sorts the list in place

To demonstrate this, we'll use the `FRUIT` list.

In [29]:
# define global FRUIT list
FRUIT = ["cherry", "apple", "date", "bananna", "elderberry"]

We'll make copies and sort using both methods side by side.

In [30]:
# set global to FRUIT list for pprint
GLOBAL = FRUIT

{{ leftcol }}

```{rubric} Returned sorting
```

In [31]:
# make a fresh copy of FRUIT
fruit = FRUIT[:]
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']

In [32]:
# sorted() returns a new list
result = sorted(fruit)
pprint(result)

['apple',
 'bananna',
 'cherry',
 'date',
 'elderberry']

In [33]:
# and leaves fruit alone
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']

{{ rightcol }}

```{rubric} In-place sorting
```

In [34]:
# make a fresh copy of FRUIT
fruit = FRUIT[:]
pprint(fruit)

['cherry',
 'apple',
 'date',
 'bananna',
 'elderberry']

In [35]:
# .sort() returns None
result = fruit.sort()
pprint(result)

-



None

In [36]:
# but fruit was modified in place
pprint(fruit)

['apple',
 'bananna',
 'cherry',
 'date',
 'elderberry']

{{ endcols }}

Exercises
---------

`````{exercise} Appointment Maker
:label: appointment-exercise

This exercise is to find the overlapping days that two people are available.

1. Make two lists `my_days` and `your_days`, which each contain a list of
   weekday names that each hypothetical person is available.
2. Make an empty list `shared_days`.
3. Add items to the `shared_days` list that are in both the `my_days` and
   `your_days` lists.
   ```{dropdown} Need a hint?
   Iterate over one of the lists, then use the `in` operator to check if that
   day is in the other list. If it is, then use the `.append()` method to add
   that day to `shared_days`.
   ```
4. If there are no items in `shared_days` print a message saying that there are
   no shared days available.
5. Otherwise, print a message that the following days will work, then print
   each day on a new line.
6. Bonus: Make a function called `find_shared_days()` that takes `my_days` and
   `your_days` as arguments and returns `shared_days`.

Example output:
```text
The following days will work:
* Monday
* Thursday
```

Or:
```text
No shared days available, sadface.
```

`````

`````{solution} appointment-exercise
:class: dropdown

```{code-block} python
:caption: Appointment Maker Exercise
:class: full-width
:linenos:

my_days = ["monday", "tuesday", "friday"]
your_days = ["monday", "wednesday", "thursday"]
shared_days = []

for day in my_days:
    if day in your_days:
        shared_days.append(day)

if not shared_days:
    print("No shared days available, sadface.")
else:
    print("The following days will work:")
    for day in shared_days:
        print("*", day.title())
`````

Reference
---------

```{glossary} lists

heterogeneous
  Elements in the collection may be of any type.

homogeneous
  All elements in the collection are of the same type.

```

```{seealso}

* [Lists Reference](../../reference/lists.md)

```

----

% TODO
% - [x] nesting
% - [ ] copying
% - [ ] exercises
% - [ ] glossary terms
% - [x] multiple assignment